.header {
    display: flex;
    align-items: center;
    background: #333;
    height: 80px;
    color: #fff;
}


.headerContent{
    display: contents;
}

img {
    margin: 5px;
}

p{
    margin: 3px;
}


.upload {
    margin: 10px;
    font-weight: bold;
    border-radius: 10px;
    color: #333;
    width: 100px;
    
}




@media screen and (max-width: 600px) {
    .header p {
        display: none;
    }

    .header img {
        display: none;
    }

}
